{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'upload.css' %}" />
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
<!--                | means OR operator-->
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    <div class="sold_table_header">
        <a class="btn btn-default" id="card_button" href="{% url 'card' %}">Inventory</a>
        <div class="form_holder">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="upload_label" for="file2"> Delete Cards: </label>
                <input type="file" id="file2" name="delete">
                <small>Only accepts CSV files</small>
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
        {% endif %}
        <div class="profit_holder">
            Total Income: {{total}}
        </div>
    </div>
    {% render_table table %}
</body>
</html>