{% load bootstrap3 %}
{% bootstrap_css %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
<!--                | means OR operator-->
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload Cards: </label>
        <input type="file" id="file1" name="upload">
        <small>Only accepts CSV files</small>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file2"> Delete Cards: </label>
        <input type="file" id="file2" name="delete">
        <small>Only accepts CSV files</small>
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
    {% endif %}
</body>
</html>